@model MVCPartialView.Models.Employee
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Address.StreenNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address.StreenNumber)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address.StreetName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.EditorFor(model => model.Address.StreetName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address.City, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address.City)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address.State, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address.State)
        </div>
    </div>
</div>
